<ul class="nav text-bg-primary p-3">
    <li class="nav-item">
        <a class="nav-link text-bg-primary" aria-current="page" href="/">Lista Juegos</a>
    </li>
    {% if (session and session.usuario) %}   
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/web/logout">Cerrar sesión: {{ session.usuario }}</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link text-bg-primary" href="/web/contactos/iniciarSesion">Administracion</a>
    </li>
    {% endif %}
</ul>