.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "numbers numbers numbers"
        "footer footer footer";
    font-size: 2em;
}

.header {
    grid-area: header;
    background-color: rgb(20, 240, 20);
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "number1 number2 number3"
        "number1 number2 number3"
        "number1 number2 number3";
    grid-area: numbers;
}

.number1 {
    grid-area: number1;
    background-color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding-top: 3em;
}

.number2 {
    grid-area: number2;
    background-color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding-top: 3em;
}

.number3 {
    grid-area: number3;
    background-color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding-top: 3em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "footer1 footer1 . footer2 footer2"
        "footer1 footer1 . footer2 footer2"
        "footer1 footer1 . footer2 footer2";
    grid-area: footer;
}
.footer1 {
    grid-area: footer1;
    background-color: rgb(255, 255, 101);
    text-align: right;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding: 3em 1em 0 0;
}
.footer2 {
    grid-area: footer2;
    background-color: rgb(255, 255, 101);
    text-align: right;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    padding: 3em 1em 0 0;
}

@media (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "headers headers headers"
            "numbers numbers numbers"
            "footer footer footer";
        font-size: 2em;
    }
    .header {
        grid-area: headers;
        background-color: rgb(36, 195, 239);
    }
    .numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "number1 number2"
            "number3 number3";
        grid-area: numbers;
    }

    .number1 {
        grid-area: number1;
        background-color: rgb(255, 0, 0);
        text-align: left;
        padding: 1em 1em;
    }
    .number2 {
        grid-area: number2;
        background-color: rgb(255, 0, 0);
        text-align: right;
        padding: 1em 1em;
    }
    .number3 {
        grid-area: number3;
        background-color: rgb(20, 240, 20);
        text-align: center;
        padding: 1em 0;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "footer1"
            "footer2";
        grid-area: footer;
    }
    .footer1 {
        grid-area: footer1;
        text-align: center;
        padding: 1em 0;
    }
    .footer2 {
        grid-area: footer2;
        text-align: center;
        padding: 1em 0;
    }
}

@media (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header header"
            "numbers numbers numbers"
            "footer footer footer";
    }
    .header {
        grid-area: header;
        background-color: rgb(238, 72, 72);
        padding: 0;
    }
    
    .numbers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "number1"
            "number2"
            "number3";
        grid-area: numbers;
    }
    .number1 {
        grid-area: number1;
        background-color: rgb(255, 0, 0);
    }
    .number2 {
        grid-area: number2;
        background-color: rgb(36, 195, 239);
        text-align: center;
    }
    .number3 {
        grid-area: number3;
        background-color: rgb(255, 0, 0);
        text-align: right;
        padding-right: 1em;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "footer1"
            "footer2";
        grid-area: footer;
    }
    .footer1 {
        grid-area: footer1;
        
    }
    .footer2 {
        grid-area: footer2;
        height: 1.8em;
    }
}
