@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navegacion{
  background: #171c24;
  position: relative;
  width: 100%;
}
.navegacion nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  z-index: 100;

}
nav .contenidoNav{
  display: flex;
  align-items: center;
}
nav .contenidoNav .links{
  margin-left: 80px;
  display: flex;
}
.contenidoNav .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.contenidoNav .links li{
  list-style: none;
  line-height: 70px;
}
.contenidoNav .links li a,
.contenidoNav .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contenidoNav .links li label{
  display: none;
}
.contenidoNav .links li a:hover,
.contenidoNav .links li label:hover{
  background: #323c4e;
}
.navegacion .search-icon,
.navegacion .buy-icon,
.navegacion .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.navegacion .menu-icon{
  display: none;
}
.navegacion #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.navegacion .search-box{
  position:absolute;
  height: 100%;
  max-width: 45%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  right: 0%;
}
.navegacion #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.navegacion input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.contenidoNav .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.contenidoNav .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.contenidoNav .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px;
}
.contenidoNav .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.contenidoNav .links ul li{
  position: relative;
}
.contenidoNav .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .navegacion nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .contenidoNav .links{
    margin-left: 30px;
  }
  .contenidoNav .links li a{
    padding: 8px 13px;
  }
  .navegacion .search-box{
    max-width: 45%;
    width: 100%;
    right: 0%;
  }
  .navegacion .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .navegacion .menu-icon{
    display: block;
  }
  .navegacion #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .contenidoNav .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .contenidoNav .links{
    left: 0%;
  }
  .contenidoNav .links li{
    margin: 15px 20px;
  }
  .contenidoNav .links li a,
  .contenidoNav .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .contenidoNav .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .contenidoNav .links ul,
  .contenidoNav .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .contenidoNav .links #enseñar-categorias:checked ~ ul,
  .contenidoNav .links #enseñar-comunidad:checked ~ ul,
  .contenidoNav .links #enseñar-soporte:checked ~ ul,
  .contenidoNav .links #enseñar-sesion:checked ~ ul{
    max-height: 100vh;
  }
  .contenidoNav .links ul li{
    margin: 7px 20px;
  }
  .contenidoNav .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 400px){
  .navegacion nav{
    padding: 0 10px;
  }
  .contenidoNav .logo a{
    font-size: 27px;
  }
  .navegacion .search-box{
    max-width: 45%;
    width: 100%;
    right: 0%;
  }
  .navegacion .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  
}


 .logo {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
  padding-left: 20px;
  padding-top: 10px;
}
.navegacion img {
    width: 50px;
  }

  /*
  Animacion
  */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
