.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    background-color: gray;
}
.nosotros{
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px white;
    font-size: 50px;
}
.nosotrosTexto{
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.nosotrosTexto h3{
    text-align: center;
    margin: 10px;
}
.saberMas{
    text-align: center;
    font-size: 25px;
}
#imagenNosotros {
    background-image: url("../img/Juegos/sobreNosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 2%;
    padding: 15%;
    background-position: center;
}
#imagenNosotros:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.nosotrosTexto:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.saberMas:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
