<div class="card h-100 shadow">
  <a [routerLink]="['/restaurants/',restaurant.id]"><img class="card-img-top" src="{{restaurant.image}}" /></a>
  <div class="card-body">
    <button *ngIf="restaurant.mine" (click)="deleteRestaurant()" class="btn btn-danger btn-sm float-end">Delete</button>
    <h4 class="card-title"><a href="restaurant-detail.html?id={{restaurant.id}}">{{restaurant.name}}</a></h4>
    <p class="card-text">{{restaurant.description}}</p>
    <div class="card-text">
      <small class="text-muted">
        <strong>Opens: </strong>{{restaurant.daysOpen}}
      </small>
      <span *ngIf="openOrClosed(restaurant.daysOpen);else isClosed" class="badge ms-2 bg-success">Open</span>
      <ng-template #isClosed><span class="badge ms-2 bg-danger">Closed</span></ng-template>
    </div>
    <div class="card-text">
      <small class="text-muted">
        <strong>Phone: </strong>{{restaurant.phone}}
      </small>
    </div>
    <div class="card-text">
      <small class="text-muted">
        <fs-star-rating [rating]="restaurant.stars!" [edit]="false"></fs-star-rating>
        ({{restaurant.stars}})
      </small>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{restaurant.cuisine}}</small>
    <small class="text-muted float-end">
      {{restaurant.distance}} km
    </small>
  </div>
</div>
