<!doctype html>

<title>
    {% block titulo %}{% endblock %}
</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>

<html>
    <head></head>
    <body>
        <div class="container">
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>