{% extends "base.njk" %}
{% block titulo %} Libros | Listados {% endblock %}

{% block contenido %}

    <h1>Listado de libros</h1>

    <ul>
        {% for libro in libros %}
            <li>
                {{ libro.titulo }}
                <a class="btn btn-success" href="/libros/{{libro.id}}">Ver ficha</a>
            </li>
        {% else %}
            <div class="row">
                <div class="col-12 bg-secondary text-white">No hay libros que mostrar.</div>
            </div>
        {% endfor %}
    </ul>

{% endblock %}