{% extends "base.njk" %}
{% block titulo %}Contactos | Nuevo{% endblock %}
{% block contenido %}

    <div class="alert alert-secondary">
        <a href="/libros">Listado de contactos</a>

        <a href="/libros/nuevo">Nuevo contacto</a>

    </div>

{% endblock %}