{% extends "base.njk" %}
{% block titulo %} Libros | Ficha {% endblock %}

{% block contenido %}
    
    <h1>Listado de libros</h1>
    {% if libro.imagen %}
        <ul>
            <img class="card-img-top" src="../{{libro.imagen}}" width=100 height=1000>
        </ul>
    {% endif%}
    <ul>
        <b>Titulo:</b>
        {{libro.titulo}}
    </ul>
    <ul>
        <b>Editorial</b>
        {{libro.editorial}}

    </ul>
    
    <ul>
        <b>Precio:</b>
        {{libro.precio}}
    </ul>

    <a class="btn btn-primary" href="/libros">Volver atras</a>
{% endblock %}