<form action="#" class="mt-4" (ngSubmit)="addRestaurant()" id="newRestaurant" [formGroup]="restaurantForm" novalidate>
  <div class="mb-3">

    <label for="name">Name</label>

    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="Enter name"
      pattern="[a-zA-Z ]+"
      formControlName="name"
      [ngClass]="validClasses(nameControl)">

    <div class="invalid-feedback" *ngIf="nameControl.errors?.['required']">
      Name is required
    </div>

    <div class="invalid-feedback" *ngIf="nameControl.errors?.['pattern']">
      Name must be contains letters and spaces
    </div>

  </div>

  <div class="mb-3">

    <label for="description">Description</label>

    <textarea
      class="form-control"
      name="description"
      rows="3"
      placeholder="Description"
      formControlName="description"
      [ngClass]="validClasses(descriptionControl)"
      >
    </textarea>

    <div class="invalid-feedback" *ngIf="descriptionControl.errors?.['required']">
      Description is required
    </div>

  </div>

  <div class="mb-3">

    <label for="cuisine">Cuisine</label>

    <input
      type="text"
      class="form-control"
      name="cuisine"
      placeholder="Cuisine"
      [ngClass]="validClasses(cuisineControl)"
      formControlName="cuisine"
    >

    <div class="invalid-feedback" *ngIf="cuisineControl.errors?.['required']">
      Cuisine is required
    </div>

  </div>

  <p>Opening days</p>


  <div class="mb-3">

    <div class="form-check form-check-inline" *ngFor="let day of daysOpenArray.controls; let i = index" formArrayName="checkDay">
      <input
        type="checkbox"
        class="custom-control-input"
        [formControlName]="i"
        [ngClass]="validClasses(daysOpenArray)"
        >
      <label class="custom-control-label ms-2">{{daysOpen[i]}}</label>
    </div>
    <div class="text-danger" *ngIf="daysOpenArray.errors">
      You must choose at least 1 day.
    </div>
  </div>
  <div class="mb-3">

    <label for="phone">Phone number</label>

    <input
      type="text"
      class="form-control"
      name="phone"
      placeholder="Phone number"
      formControlName="phone"
      [ngClass]="validClasses(phoneControl)"
    >

    <div class="invalid-feedback" *ngIf="phoneControl.errors?.['required']">
      Phone is required
    </div>

    <div class="invalid-feedback" *ngIf="phoneControl.errors?.['pattern']">
      Phone must be contains 9 numbers
    </div>

  </div>

  <div class="mb-3">

    <label for="image">Image</label>

    <input
      type="file"
      class="form-control"
      accept="image/*"
      (change)="changeImage($event)"
      name="fileName"
      formControlName="image"
      [ngClass]="validClasses(imageControl)"
      />

    <div class="invalid-feedback" *ngIf="imageControl.errors?.['required']">
      Image is required
    </div>

  </div>

  <img [src]="newRestaurant.image" alt="" class="img-thumbnail mb-3 mb-3"
    *ngIf="!(newRestaurant.image ==='')?'d-none':''">

    <div>
    <button type="submit" [disabled]="restaurantForm.invalid" class="btn btn-primary">Create</button>
  </div>

</form>
